:root{
    --color-blue-800: #196091;
    --color-blue-700: #1f71ae;
    --color-blue-600: #2281c2;
    --color-blue-400: #2c96df;
    --color-blue-200: #8cccfa;
    --color-blue-75: #c9e9ff;
    --color-blue-50: #eaf6ff;
    --color-blue-10: #f5f7f8;
    --color-turquoise-800: #02b8c1;
    --color-turquoise-400: #00cee1;
    --color-green-800: #01834a;
    --color-green-600: #02af63;
    --color-green-400: #06cc75;
    --color-green-50: #d7f8e7;
    --color-red-800: #b73b3c;
    --color-red-600: #d34547;
    --color-red-400: #e84e50;
    --color-red-50: #fae1e2;
    --color-pink-600: #ed456f;
    --color-pink-400: #fa596e;
    --color-orange-600: #f6852f;
    --color-orange-400: #f6a42f;
    --color-orange-50: #fef1e6;
    --color-yellow-400: #f5be00;
    --color-yellow-600: #f5be00;
    --color-azure-800: #263849;
    --color-azure-600: #0e4f7f;
    --color-purple-400: #8355e1;
    --color-grey-800: #212732;
    --color-grey-600: #595d66;
    --color-grey-400: #909398;
    --color-grey-200: #c7c9cb;
    --color-grey-150: #ddd;
    --color-grey-100: #e8e9ea;
    --color-grey-50: #f0f1f1;
    --color-grey-25: #f9f9fa;
    --color-white-85: hsla(0, 0%, 100%, .85);
    --color-white-75: hsla(0, 0%, 100%, .75);
    --color-white-25: hsla(0, 0%, 100%, .25);
    --color-white-15: hsla(0, 0%, 100%, .15);
    --color-black-15: rgba(0, 0, 0, .15);
    --color-white: #fff;
    --color-black: #000;
}
